<div class="app-card">
  <div class="back-action">
    <app-button (click)="navigate()"> Back</app-button>
  </div>
  <h2>Name : {{ forecast.city.name }}</h2>
  <mat-table #table [dataSource]="dataSource">
    <ng-container matColumnDef="day">
      <mat-header-cell *matHeaderCellDef> Day</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.dt * 1000 | date: "EEEE" }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="state">
      <mat-header-cell *matHeaderCellDef> Condition</mat-header-cell>
      <mat-cell *matCellDef="let element">
        {{ element.weather[0].description }}
      </mat-cell>
    </ng-container>

    <ng-container matColumnDef="high">
      <mat-header-cell *matHeaderCellDef> Max Temperature</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.temp.max }}° </mat-cell>
    </ng-container>

    <ng-container matColumnDef="low">
      <mat-header-cell *matHeaderCellDef> Min Temperature</mat-header-cell>
      <mat-cell *matCellDef="let element"> {{ element.temp.min }}° </mat-cell>
    </ng-container>

    <ng-container matColumnDef="icon">
      <mat-header-cell *matHeaderCellDef></mat-header-cell>
      <mat-cell *matCellDef="let element">
        <img
          class="weather-icon"
          [src]="getByIdIcon(element.weather[0].id)"
          alt=""
        />
      </mat-cell>
    </ng-container>
    <mat-header-row
      *matHeaderRowDef="displayedColumns; sticky: true"
    ></mat-header-row>
    <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
  </mat-table>
</div>
